p,
h1,
h3,
h4,
h5,
h6,
li,
label {
    font-family: 'Oswald Regular', sans-serif;
}

p,
li {
    font-size: medium;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: green;
    width: 100%;
    height: 6em;
}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffcf33, #cc9020);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

hr {
    border: 1px solid rgb(3, 82, 0);
}

nav {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: 0.5em;
}

a {
    color: rgb(0, 163, 0);
}

a:hover {
    color: rgb(0, 70, 0);
}

.sticky-hr {
    position: sticky;
    top: 6em;
    z-index: 100;
}

.login-area {
    margin-left: auto;
    margin-right: 1em;
}

.btn {
    color: #ffcf33;
    text-shadow: 1px 1px black;
}

.nav-btn {
    margin-right: 1em;
}

.no-margin {
    margin: 0;
}

.goals {
    margin: 1em 25% 0 25%;
    border: 1px solid green;
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.text-right {
    text-align: right;
}

.btn-row {
    display: flex;
    align-items: center;
}

.toc {
    position: fixed;
    overflow-y: scroll; 
    max-height: calc(80vh - 4em);
    border-top: 3px solid rgb(125, 185, 34);
    border-left: 3px solid rgb(125, 185, 34);
    border-bottom: 3px solid green;
    border-right: 3px solid green;
}

.toc ul {
    list-style-type: none;
}

@media (max-width: 767px) {
    .toc {
        display: none;
    }
}


@media (max-width: 991px) {
    .toc p {
        padding-right: 1em;
    }
    .toc li {
        font-size: smaller;
        padding-right: 1em;
    }
}

@media (min-width: 992px) {
    .toc p,
    .toc li {
        padding-right: 2em;
    }
}

table {
    border-top: 3px solid rgb(125, 185, 34);
    border-left: 3px solid rgb(125, 185, 34);
    border-bottom: 3px solid green;
    border-right: 3px solid green;
}

th {
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 0.2em;
    padding-right: 2em;
}

td {
    border: 1px solid black;
    padding-left: 0.2em;
    padding-right: 2em;
}