<div class="toc">
    <br>
    <ul>
        <li><p><strong>Table of contents</strong></p></li>
    </ul>
    <ul>
        <a href="/docs/1"><li>Intro to Node.JS</li></a>
        <a href="/docs/2"><li>Variables, data types</li></a>
        <a href="/docs/3"><li>REST API conventions</li></a>
        <a href="/docs/4"><li>Code conventions / Clean Code</li></a>
        <a href="/docs/5"><li>Strict Mode / ESLint</li></a>
        <a href="/docs/6"><li>Functions</li></a>
        <a href="/docs/7"><li>package.json</li></a>
        <a href="/docs/8"><li>Express</li></a>
        <a href="/docs/9"><li>Sending data with GET requests</li></a>
        <a href="/docs/10"><li>Nodemon</li></a>
        <a href="/docs/11"><li>Loops and loop methods in JS</li></a>
        <a href="/docs/12"><li>Anatomy of an URL</li></a>
        <a href="/docs/13"><li>Serving HTML in Express</li></a>
        <a href="/docs/14"><li>CRUDable REST API</li></a>
        <a href="/docs/15"><li>Fetch</li></a>
        <a href="/docs/16"><li>Deployment</li></a>
        <a href="/docs/17"><li>Exporting and importing in frontend</li></a>
        <a href="/docs/18"><li>CommonJS vs. ES6 Modules in Node.js</li></a>
        <a href="/docs/19"><li>Serving static in Express</li></a>
        <a href="/docs/20"><li>XSS</li></a>
        <a href="/docs/21"><li>Client redirect vs. server redirect</li></a>
        <a href="/docs/22"><li>Client fetching vs. backend fetching</li></a>
        <a href="/docs/23"><li>Structuring HTML with semantic HTML</li></a>
        <a href="/docs/24"><li>Reading files</li></a>
        <a href="/docs/25"><li>Environment variables</li></a>
    </ul>
</div>